{% extends 'base.html' %}

{% block title %}My Applications{% endblock %}

{% block content_header %}List of My Applications{% endblock %}

{% block navbar_top %}

    <li><a href="/ppa/student/">All Projects</a></li>
    <li class="active"><a href="/ppa/my_applications/">My Applications</a></li>
    <li><a href="/ppa/my_info/">My Info</a></li>
    
{% endblock %}

{% block content %}

    <table class="table table-striped table-bordered table-hover table-condensed">
    <thead>
      <tr>
        <th>Project Title</th>
        <th>Professor's Name</th>
        <th>Department</th>
        <th>Number of open positions</th>
        <th>Description</th>
        <th>Requirements</th>
        <th>Last Date Of Application</th>
        <th>Message from Prof</th>
        <th>Status of Application</th>
        <th>Student Status</th>
        <th>Go to Project Page</th>
      </tr>
    </thead>
    
    <tbody>
        
        {% for appl in apps %}
        
            <tr>
                <td>{{ appl.project.name }}</td>
                <td>{{ appl.project.prof.name }}</td>
                <td>{{ appl.project.prof.department }}</td>
                <td>{{ appl.project.num_positions }}</td>
                <td>{{ appl.project.description }}</td>
                <td>{{ appl.project.requirements }}</td>
                <td>{{ appl.project.application_deadline }}</td>
                <td>{{ appl.message_from_prof }}</td>
                <td>{{ appl.status }}</td>
                <td>{{ appl.accept_status }}</td>
                <td><a href="{% url 'project_detail' appl.project.id %}">Go to Project Page</a></td>
            </tr>
        
        {% endfor %}
        
    </tbody>
    </table>
    
    
      
{% endblock %}
