{% extends 'base.html' %}

{% block title %}Student Home{% endblock %}

{% block content_header %}List of Projects{% endblock %}

{% block navbar_top %}

    <li class="active"><a href="/ppa/student/">All Projects</a></li>
    <li><a href="/ppa/my_applications/">My Applications</a></li>
    <li><a href="/ppa/my_info/">My Info</a></li>
    
{% endblock %}

{% block content %}

    <table class="table table-striped table-bordered table-hover table-condensed">
    <thead>
      <tr>
        <th>Project Title</th>
        <th>Professor's Name</th>
        <th>Department</th>
        <th>Description</th>
        <th>Duration (in months)</th>
        <th>Last Date Of Application</th>
        <th>Open Positions</th>
        <th>Go to Project Page</th>
      </tr>
    </thead>
    
    <tbody>
        
        {% for proj in projects %}
        
            <tr>
                <td>{{ proj.name }}</td>
                <td>{{ proj.prof.name }}</td>
                <td>{{ proj.prof.department }}</td>
                <td>{{ proj.description }}</td>
                <td>{{ proj.duration }}</td>
                <td>{{ proj.application_deadline }}</td>
                <td>{{ proj.num_positions }}</td>
                <td><a href="{% url 'project_detail' proj.id %}">Go to Project Page</a></td>
            </tr>
        
        {% endfor %}
        
    </tbody>
    </table>
    
    
      
{% endblock %}
